// mixins 
@import '../../scss/abstracts/mixins';

.about {
    padding-top: 35px;

.about-h1 {
    @include section-title;
}

.window {
    @include center-column;
    border: 1px solid black;
    margin: 30px 10px;

    .title {
        border-bottom: 1px solid black;
        font-size: 25px;
        font-weight: 800;
        padding: 20px;
    }

    .user-container {
        display: flex;
        align-items: center;
        border-bottom: 1px solid black;
        font-size: 12px;
        height: 50px;

        .user-avatar {
            display: flex;
            align-items: center;
            padding: 0 10px;

            .user-pic {
                height: 35px;
                width: 35px;
                border-radius: 50%;
                border: 1px solid black;
                background-image: url('../../assets/img/About/user-pic.png');
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        .username {
            display: flex;
            align-items: center;
            border-right: 1px solid black;
            height: 50px;
            padding: 0 10px;
        }

        .heart {
            display: flex;
            align-items: center;
            padding: 0 10px;
        }

        .user-likes span{
            text-decoration: underline;
            font-weight: 500;
        }
    }

    .post {
        padding: 15px;
        font-size: 16px;
        text-align: justify;
        line-height: 25px;
    }

    .hobbies {
        border-top: 1px solid black;
        padding: 10px;
        padding-left: 30px;
        font-size: 14px;
        line-height: 25px;
    }
}

}

/* --------- Media queries ---------- */

@media screen and (min-width: 768px) {
    
.about {
    padding: 0 50px;
    margin-top: 70px;
    padding-top: 0;
    height: 100vh;
    

.about-h1 {
    font-size: 30px;
}

.window {
    height: fit-content;

    .title {
        display: flex;
        align-items: center;
        font-size: 65px;
        padding-left: 50px;
    }

    .user-container {
        padding-left: 30px;
        height: 150px;

        .user-avatar {
            padding: 20px;

            .user-pic {
                height: 70px;
                width: 70px;
            }
        }

        .username {
            height: 150px;
            padding: 0 30px;
            font-size: 26px;
        }

        .heart {
            padding-left: 20px;

            img {
                width: 30px;
                height: 30px;
            }
        }

        .user-likes {
            font-size: 24px;
        }
    }

    .post {
        align-self: center;
        font-size: 24px;
        line-height: 45px;
        width: 92%;
        padding: 40px 0;
    }

    .hobbies {
        padding-left: 65px;
        padding-top: 20px;
        font-size: 22px;
        line-height: 40px;
    }
}

}
}