// mixins 
@import '../../scss/abstracts/mixins';

.technologies {
    padding-top: 40px;


    .technologies-h1 {
        @include section-title;
    }

    .window {
        @include center-column;
        border: 1px solid black;
        margin: 30px 10px;
        border-bottom: none;

        .title {
            border-bottom: 1px solid black;
            font-size: 25px;
            font-weight: 800;
            padding: 20px;
        }

        .technologies-list {
            display: grid;
            grid-template-columns: repeat(2,1fr);


            .technology {
                @include center;
                height: auto;
                border-bottom: 1px solid black;
                border-left: 0.5px solid black;
                padding: 25px;

                .technology-img {
                    width: 80%;
                
                    &:hover {
                     
                    }
                }
            }

            .React, .CSS, .Github, .Figma{
                border-left: none;
            }
        }
    }
}