//mixins 
@import '../../scss/abstracts/mixins';

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 10;


    .hello-btn {
        @include black-btn;
        padding: 10px;
        font-size: 12px;
        box-shadow: black 0px 1.5px;
        
        &:hover {
            cursor: pointer;
            transform: translateY(2px);
            transition: ease 0.16s;
        }
    }
}

