// mixins
@import '../../scss/abstracts/mixins';

.projects {
    padding-top: 40px;
    .projects-h1 {
        @include section-title;
    }

    .window {
        @include center-column;
        border: 1px solid black;
        margin: 30px 10px;

        .title {
            border-bottom: 1px solid black;
            font-size: 25px;
            font-weight: 800;
            padding: 20px;
        }

        .window-illustration {
           @include center;
            flex-direction: column;
            background-color: #0F0F10;
            padding: 100px 0;
            padding-top: 50px;

            .circle-illustration-container {
                display: flex;
                justify-content: flex-end;
                align-items: self-end;
                padding: 20px;
                padding-top: 0;
                gap: 10px;
                width: 100%;

                .circle {
                    height: 11px;
                    width: 11px;
                    border-radius: 50%;
                }

                .red {
                    background-color: var(--red) ;
                }
                .yellow {
                    background-color: var(--yellow);
                }
                .green {
                    background-color: var(--green);
                }

            }
            .vscode-illustration {
                @include center;
                width: 80%;
                height: 200px;
                background-color: transparent;
                border: 3px solid var(--grey);
                border-radius: 5px;
                gap: 40px;

                .bar-illustration {
                    height: 150px;
                    width: 8px;
                    border-radius: 50px;
                    background-color: var(--grey);
                }

                .code-illustration {
                    width: 65%;
                }
            }
        }
    }
}