.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    height: 100vh;
    padding-top: 70px;
    
    .info-intro-container {
        padding-left: 30px;
        
        h5 {
            font-weight: 400;
            font-size: 16px;
            font-family: var(--baloo-font);
        }
        h1 {
            font-size: 40px;
            font-weight: 800;
        }
        h4 {
            font-size: 20px;
            font-weight: 400;
    
            .front-dev {   
                font-family: var(--poppins-font);
                font-weight: 600;
            }
        }
    }

    .avatar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 227px;
        width: 240px;
        background-color: #DDDDDD;
        border-radius: 50%;
        padding: 0 30px;
        margin-top: 40px;
        box-shadow: 0px 7px 0px 0px var(--lightBlue);

        .avatar {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
        }
    }

    .resume-btn {
        background-color: transparent;
        border-radius: 50px;
        border: 1px solid black;
        padding: 10px 20px;
        font-size: 14px;
        box-shadow: 0px 3px 0px 0px #000000;

    }

    .social-networks-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        
        .line {
            height: 2px;
            width: 100%;
            background-color: black;   
        }

        .social-networks {
            display: flex;
            gap: 30px;
            background-color: white;
            padding: 0 40px;
        }
    }
}